button.account-delete-button {
    font-size: 26px;
    color: #ffe680;
    text-shadow: 0 2px 3px #cca300;
}

:focus {
    outline: 0;
}

input[type=text]:focus, textarea:focus {
    color: #cca300;
    text-shadow: 0 2px 3px #ffe680;
}

input[type=text]:hover, textarea:hover, button:hover {
    color: #cca300;
    text-shadow: 0 2px 3px #ffe680;
}

#hourglass {
    font-size: 256px;
}

#mun33bot-main-div {
    width: 500px;
    margin: auto;
    background-color: #ffcc00;
    padding: 10px;
    min-height: 500px;
    border: 3px solid #cca300;
}

#balance-float {
    float: right;
    width: auto;
    text-align: right;
    border-bottom: none;
}

.account {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 26px;
    font-weight: normal;
    width: 450px;
    height: 42px;
    margin: 0 auto;
    text-shadow: 0 2px 3px #cca300;
    text-align: left;
}

input.account-description {
    font-size: 26px;
    color: #ffe680;
    text-shadow: 0 2px 3px #cca300;
    float: left;
    width: 220px;
    height: auto;
    text-align: right;
    padding: 0 5px 0 0;
    margin: 0 auto;
}

input.account-balance {
    font-size: 26px;
    color: #ffe680;
    text-shadow: 0 2px 3px #cca300;
    float: right;
    width: 220px;
    height: auto;
    text-align: left;
    padding: 0 0 0 5px;
    margin: 0 auto;
}

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 32px;
    color: #ffe680;
    text-align: center;
}

h1 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 32px;
    width: 200px;
    color: #ffe680;
    margin-top: 0;
    padding-top: 5px;
    text-shadow: 0 2px 3px #cca300;
}

input {
    text-align: center;
    font-size: 32px;
    width: 200px;
    border: none;
    background-color: #ffcc00;
    color: #ffe680;
}

button {
    margin: 15px auto 0;
    padding: 2px;
    width: 100%;
    background-color: #ffcc00;
    border: none;
    color: #ffe680;
    text-align: center;
    text-decorator: none;
    font-size: 32px;
    text-shadow: 0 2px 3px #cca300;
    box-shadow: 0 0 4px #ffe680;
}

#mun33bot-state-div {
    font-size: 16px;
    color: black;
    margin: auto;
    width: auto;
    max-width: 500px;
    padding: 10px;
    min-height: 500px;
}
